@import './../../app/globals.scss';

.section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px 45px 10px;
  &__wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 40px;
    & svg {
      height: 100%;
      width: 96.74%;
    }
  }
  &__title {
    z-index: 1;
    color: $textBlueColor;
    font-family: 'Century Gothic', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    margin-bottom: 77px;
  }
}

@media screen and (max-width: 1440px) {
  .section {
    padding: 12px 35px 10px;
    &__wave {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 10px 25px 10px;
    &__wave {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 26px;
      line-height: 36px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 5px 15px 10px;
    &__wave {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 35px;
    }
  }
}

@media screen and (max-width: 570px) {
  .section {
    padding: 5px 15px 10px;
    &__wave {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 420px) {
  .section {
    padding: 2px 15px 10px;

    &__title {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
